<!--<h2>Username: {{Users.userName}}</h2>
<div>
  <h3>Email: {{Users.email}}</h3>
  <h3>Phone: {{Users.phoneNumber}}</h3>
  <h3>Role: {{Users.role}}</h3>
</div>-->

<form>
  <h2>My Profile</h2>
  <div class="form-group col-md-3">
    <table class="table">
      <tr>
        <td>Username:</td>
        <td>{{Users.userName}}</td>
      </tr>
      <tr>
        <td>Email:</td>
        <td>{{Users.email}}</td>
      </tr>
      <tr>
        <td>Phone:</td>
        <td>{{Users.phoneNumber}}</td>
      </tr>
      <tr>
        <td>Role:</td>
        <td>{{Users.role}}</td>
      </tr>
    </table>
  </div>
</form>

