<form #myForm="ngForm" (ngSubmit)="onSubmit()" name="myForm" >
  <div class="form-group col-md-4">
    <label for="username">Username:</label>
    <input type="text" class="form-control" id="username" [(ngModel)]="model.username" name="username" #username="ngModel" autofocus>
    <!--<div *ngIf="username.invalid && (username.dirty || username.touched)">

      <div *ngIf="username.errors.required" style="color:red">
        Username is required.
      </div>
    </div>-->
  </div>
  <div class="form-group col-md-4">
    <label for="pwd">Password:</label>
    <input type="password" class="form-control" id="pwd" [(ngModel)]="model.password" name="password" #password="ngModel" required>
    <!--{{model.password}}-->
    <div *ngIf="password.invalid && (password.dirty || password.touched)">

      <div *ngIf="password.errors.required" style="color:red">
        Password is required.
      </div>
    </div>
  </div>
  <!--<div class="checkbox form-group col-md-4">
    <label><input type="checkbox"> Remember me</label>
  </div>-->
  <div class="form-group col-md-4">
    <p style="color:red">{{message}}</p>
    <button type="submit" class="btn btn-success active" [disabled]="myForm.invalid">Sign In</button>
  </div>
</form>


