<form #myForm="ngForm" name="myForm">
  <div class="form-group col-md-4">
    <label for="username">Username</label>
    <input type="text" class="form-control" id="username" [(ngModel)]="Model.userName" name="username" #username="ngModel" required minlength="3" autofocus>
    <div *ngIf="username.invalid && (username.dirty || username.touched)">

      <div *ngIf="username.errors.required" style="color:red">
        Username is required.
      </div>
      <div *ngIf="username.errors.minlength" style="color:red">
        Username must be at least 3 characters long.
      </div>
    </div>
  </div>
  <div class="form-group col-md-4">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" [(ngModel)]="Model.email" name="email" #email="ngModel" required validateEmail="email">
    <div *ngIf="email.invalid && (email.dirty || email.touched)">

      <div *ngIf="email.errors.required" style="color:red">
        Email is required.
      </div>
      <div *ngIf="email.errors.validateEmail" style="color:red">
        Email format should be <i>tan@gmail.com</i>.
      </div>
    </div>
  </div>
  <div class="form-group col-md-4">
    <label for="phonenumber">Phone Number</label>
    <input type="text" class="form-control" id="phonenumber" [(ngModel)]="Model.phoneNumber" name="phonenumber">
  </div>
  <div class="form-group col-md-4">
    <label for="role">Role</label>
    <input type="text" class="form-control" id="role" [(ngModel)]="Model.role" name="role" #role="ngModel" required />
    <div *ngIf="role.invalid && (role.dirty || role.touched)">

      <div *ngIf="role.errors.required" style="color:red">
        Role is required.
      </div>
    </div>
  </div>
  <div class="form-group col-md-4">
    <p style="color:red">{{message}}</p>
    <button class="btn btn-success" (click)="Save(Model.id)" [disabled]="myForm.invalid">Save</button>
    <button class="btn btn-primary" (click)="pageBack()">Back</button>
  </div>
</form>

<!--<h2>Name: <span><input type="text" name="username" [(ngModel)]="Model.userName" /></span></h2>
<h3>Email: <span><input type="text" [(ngModel)]="Model.email " /></span></h3>
<h3>Phone Number: <span><input type="text" [(ngModel)]="Model.phoneNumber" /></span></h3>
<h3>Role: <span><input type="text" [(ngModel)]="Model.role" /></span></h3>

<div>
  <button class="btn btn-success" (click)="Save(Model.id)">Save</button>
  <button class="btn btn-primary" (click)="pageBack()">Back</button>  
</div>-->
