<!--<form #myForm="ngForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="username">Username:</label>
    <input type="text" class="form-control" id="username" [(ngModel)]="model.username" name="username" autofocus>
    {{model.username}}
  </div>
  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" class="form-control" id="pwd" [(ngModel)]="model.password" name="password">
    {{model.password}}
  </div>
  <div class="checkbox">
    <label><input type="checkbox"> Remember me</label>
  </div>
  <button type="submit" class="btn btn-primary active">Submit</button>
</form>-->
<form action="/" method="post">
  <div class="form-group col-md-4">
    <nav>
      <!--<a routerLink="/login">Login</a>-->
      <!--<a routerLink="/signup">Sign Up</a>-->
    </nav>
  </div>
</form>
<!--<nav>
  <a routerLink="/login">Login</a>
  <a routerLink="/signup">Sign Up</a>
</nav>-->

<router-outlet></router-outlet>


