<button class="btn btn-primary" (click)="Create()">Create User</button>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone Number</th>
      <th>Role</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of Users">
      <td>{{user.userName}}</td>
      <td>{{user.email}}</td>
      <td>{{user.phoneNumber}}</td>
      <td>{{user.role}}</td>
      <td>
        <button class="btn btn-info" (click)="loadView(user.id)">View</button>
        <span>|</span>
        <button class="btn btn-primary" (click)="loadEdit(user.id)">Edit</button>
      </td>
    </tr>
  </tbody>
</table>

<!--<div class="container">-->
  <!--<ul class="pagination">
    <li *ngFor="let userpage of UserPages" class="page-item">
      <a class="page-link" (click)="loadPage(userpage)">{{userpage}}</a>
    </li>
  </ul>-->
<!--</div>-->
  <div class="pagination">
    <ul class="pagination" *ngFor="let userpage of UserPages">
      <li *ngIf="userpage==data.currentPage" class="page-item active">
        <a class="page-link" (click)="loadPage(userpage)">{{userpage}}</a>
      </li>
      <li *ngIf="userpage!=data.currentPage" class="page-item">
        <a class="page-link" (click)="loadPage(userpage)">{{userpage}}</a>
      </li>
    </ul>
  </div>

<!--<ul>
  <li *ngFor="let user of Users" class="table">
    <span>{{user.userName}}</span> {{user.email}}
  </li>
</ul>-->
