<form #myForm="ngForm" (ngSubmit)="onSubmit()">
  <div class="form-group col-md-4">
    <label for="username">Username:</label>
    <input type="text" class="form-control" id="username" [(ngModel)]="model.username" name="username" autofocus>
    {{model.username}}
  </div>
  <div class="form-group col-md-4">
    <label for="email">Email:</label>
    <input type="text" class="form-control" id="email" [(ngModel)]="model.email" name="email" autofocus>
    {{model.email}}
  </div>
  <div class="form-group col-md-4">
    <label for="pwd">Password:</label>
    <input type="password" class="form-control" id="pwd" [(ngModel)]="model.password" name="password">
    {{model.password}}
  </div>
  <!--<div class="checkbox">
    <label><input type="checkbox"> Remember me</label>
  </div>-->
  <div class="form-group col-md-4">
    <button type="submit" class="btn btn-primary active">Sign Up</button>
  </div>
</form>
