<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/home">ManageUser</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="/home">Home</a>
      </li>
      <li class="nav-item">
        <a routerLink="/profile">Profile</a>
      </li>
      <li class="nav-item">
        <a routerLink="/users">Users</a>
      </li>
      <li class="nav-item">
        <a routerLink="" (click)="logOut()">Logout</a>
      </li>
    </ul>
  </div>
</nav>

<!--<form class="form-inline">
  <nav>
    <a routerLink="/home">Home</a>
    <a routerLink="/profile">My Profile</a>
    <a routerLink="/users">Users</a>
    <a routerLink="" (click)="logOut()">Logout</a>
  </nav>
  <a class="btn" (click)="logOut()">Logout</a>
</form>-->

<!--<form (ngSubmit)="logOut()">
  <button type="submit" class="btn btn-default">Logout</button>
</form>-->

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      
        <router-outlet></router-outlet>
      
    </div>

  </div>

</div>

<!--<router-outlet></router-outlet>-->

<!--<h2>Welcome to Home, TanTrinh!</h2>-->
