<!--<h2>Name: <span>{{data.userName}}</span></h2>
<h3>Email: <span>{{data.email}}</span></h3>
<h3>Phone Number: <span>{{data.phoneNumber}}</span></h3>
<h3>Role: <span>{{data.role}}</span></h3>-->

<form>
  <h2>Detail</h2>
  <div class="form-group col-md-3">
    <table class="table">
      <tr>
        <td>Username:</td>
        <td>{{data.userName}}</td>
      </tr>
      <tr>
        <td>Email:</td>
        <td>{{data.email}}</td>
      </tr>
      <tr>
        <td>Phone:</td>
        <td>{{data.phoneNumber}}</td>
      </tr>
      <tr>
        <td>Role:</td>
        <td>{{data.role}}</td>
      </tr>
    </table>
    <div>
      <button class="btn btn-primary" (click)="pageBack()">Back</button>
    </div>
  </div>
</form>



